@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenidos a mi aplicacion web</h1>
    <p class="lead">Esta aplicacion es para el proyecto de la clase de base de datos</p>
    <p><a href="http://localhost:60851/Account/Login" class="btn btn-primary btn-lg">Student Login &raquo;</a></p>

</div>