@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome! :)</h1>
    <h3>Interamerican University Engineering Student Curriculum App</h3>
    <p class="lead">Log in using your student email</p>
    <p><a href="http://localhost:60851/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>

</div>